@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.landing {
  height: 870px;
  width: 320px;
  background-color: white;
  text-align: center;
  align-items: center;
}

.landing__para {
  font-size: 16px;
  font-family: "Raleway";
  color: #858585;
  position: relative;
  margin-top: 139px;
}

.landing__title {
  font-size: 32px;
  font-family: "Abril Fatface";
  position: relative;
  margin-top: 18px;
}

.button__ve {
  font-family: "Poppins";
  border: 1px solid black;
  border-radius: 8px;
  width: 129px;
  height: 32px;
  position: relative;
  background-color: black;
  font-style: normal;
  display: inline-block;
  color: white;
  margin-top: 32px;
  font-weight: 500;
  line-height: 21px;
}

.button__ad {
  font-family: "Poppins";
  border: 1px solid black;
  border-radius: 8px;
  width: 129px;
  height: 32px;
  position: relative;
  background-color: white;
  color: black;
  font-style: normal;
  display: inline-block;
  margin-left: 16px;
  margin-top: 32px;
  font-weight: 500;
  line-height: 21px;
}

.pianoblack {
  height: 194px;
  width: 252px;
  margin-top: 56px;
}

.circle__face {
  display: none;
}

.circle__link {
  display: none;
}

.circle__twit {
  display: none;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__menu {
  align-items: center;
  display: flex;
  top: 15px;
  flex-wrap: wrap;
}

.menu__text {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 10px;
}

.menu__text-contact {
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: bold;
  left: 280px;
  top: 2px;
  display: flex;
  background: #000000;
  border-radius: 8px;
  color: #FFFFFF;
  width: 129px;
  height: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.shopping__cart {
  list-style: none;
  position: relative;
}

.cart__counter {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  top: -8px;
  left: 16px;
  font-weight: bold;
  position: absolute;
  list-style: none;
  display: flex;
  background: #FFBA60;
  border-radius: 50px;
  color: #FFFFFF;
  width: 24px;
  height: 17px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  .landing {
    text-align: center;
    height: 854px;
    width: 960px;
    align-items: center;
    text-align: center;
  }
  .landing__para {
    margin-top: 142px;
  }
  .landing__title {
    font-size: 56px;
    margin-top: 18px;
  }
  .button__ve {
    margin-top: 32px;
    font-weight: 500;
    line-height: 21px;
  }
  .button__ad {
    margin-top: 32px;
    font-weight: 500;
    line-height: 21px;
  }
  .pianoblack {
    height: 454px;
    width: 589px;
    margin-top: 90px;
    display: inline-block;
  }
  .circle__face {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin-left: 896px;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    top: -200px;
  }
  .circle__link {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin-left: 896px;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    top: -185px;
  }
  .circle__twit {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    margin-left: 896px;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    top: -170px;
  }
  .circle__face--img {
    position: relative;
    padding-top: 5px;
  }
  .circle__link--img {
    position: relative;
    padding-top: 5px;
  }
  .circle__twit--img {
    position: relative;
    padding-top: 6px;
  }
}/*# sourceMappingURL=styles.css.map */
@media screen and (max-width: 320px) {
  .menu__text {
    display: none;
  }
  .menu__text-contact {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */